body {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}
:root {
    --padding: 5px;
    --minimalWidthInMinutes: calc(30 * (100% - 2 * var(--padding) ) / 24 / 60);
    --height: 25px;        
    --radius: 3px; 
}
.container {
    padding-left: 100px;
}
timeline {
    display: block;
    position: relative;
    height: 20px;
    background-color: lightskyblue;
}
hour {
    display: block;
    position: absolute;
    top: var(--padding);
}
events {
    display: block;
    position: relative;
    background-color: bisque;  
}
yop-calendar-event {
    display: block;
    position: absolute;   
    background-color: lightsalmon;        
    height: var(--height);  
    border-radius: var(--radius);
}