body {
    background-color: #e3e5e8;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    margin: var(--body-margin);
}
.section {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display:inline-block;
    width: 96%;
    margin: 0px 1% 10px 1%;
    padding: 5px;
}
.section-middle-line {
    margin-top: 5px;
    margin-bottom: 5px;
}
.section-last-line {
    margin-top: 5px;
}
.action {
    height: 20px;
    cursor: pointer;
    padding: 10px 5px 5px 5px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.signin {
    width: 75%;
    margin: 25px 10% 10px 10%;
}
#login {
    width: calc(100% - 10px);
}
#signin {
    width: 150px;
}


:root {
    --body-margin: 5px;
    --padding: 5px;
    --resourceAreaWidth: 15%;
    --agendaAreaWidth: calc(100% - var(--resourceAreaWidth));
    --minimalWidthInMinutes: 30;
    --minimalWidth: calc(var(--minimalWidthInMinutes) * (100% - 2 * var(--padding)) / 24 / 60);
    --height: 25px;        
    --radius: 3px;
    --timelineHeigth: 20px;
}
.container {
    margin-top: 25px;
    padding-left: 0px;
    padding-top: 0px;
}
resources {
    background-color: bisque;  
    display: block;
    position: relative;
    top: var(--timelineHeigth);
    left: 0px;
    width: var(--resourceAreaWidth);
}
timeline {
    background-color: lightskyblue;
    display: block;
    position: relative;
    top: 0px;
    left: var(--resourceAreaWidth);
    width: var(--agendaAreaWidth);
    height: var(--timelineHeigth);
}
events {
    background-color: bisque;  
    display: block;
    position: relative;
    top: 0px;
    left: var(--resourceAreaWidth);
    width: var(--agendaAreaWidth);
}
yop-timeline-marker {
    display: block;
    position: absolute;
    top: var(--padding);
}
yop-calendar-resource {
    background-color: lightseagreen;
    display: inline-block;
    position: absolute;
    left: var(--padding);
    width: calc(100% - 2 * var(--padding));
    height: var(--height);
}
yop-calendar-event {
    background-color: lightsalmon;
    display: block;
    position: absolute;   
    height: var(--height);  
    border-radius: var(--radius);
}
filters {
    padding: var(--padding);
}