:root {
    --body-margin: 5px;
    --vertical-margin: 15px;
    --padding: 5px;
    --border-size: 1px;

    --resourceAreaWidth: 15%;
    --agendaAreaWidth: calc(100% - var(--resourceAreaWidth));
    --minimalWidthInMinutes: 30;
    --minimalWidth: calc(var(--minimalWidthInMinutes) * (100% - 2 * var(--padding)) / 24 / 60);
    --height: 25px;        
    --radius: 3px;
    --timelineHeigth: 25px;
}
body {
    margin: var(--body-margin);
    background-color: #e3e5e8;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.vertical-form {
    background-color: white;
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    padding: var(--padding);
    border: var(--border-size) solid black;
}

.vertical-form label, .vertical-form input, .vertical-form button {
    display: block;
    padding: 0px;
    width: calc(100% - 2 * var(--padding));
}
.vertical-form label, .vertical-form input {
    margin-bottom: var(--vertical-margin);
}

.login-form {
    width: 50%;
    margin-left: 25%;
}

resources {
    background-color: bisque;  
    display: block;
    position: relative;
    top: var(--timelineHeigth);
    left: 0px;
    width: var(--resourceAreaWidth);
}
timeline {
    background-color: lightskyblue;
    display: block;
    position: relative;
    top: 0px;
    left: var(--resourceAreaWidth);
    width: var(--agendaAreaWidth);
    height: var(--timelineHeigth);
}
events {
    background-color: bisque;  
    display: block;
    position: relative;
    top: 0px;
    left: var(--resourceAreaWidth);
    width: var(--agendaAreaWidth);
}
yop-timeline-marker {
    display: block;
    position: absolute;
    top: var(--padding);
}
yop-calendar-resource {
    background-color: lightseagreen;
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 100%;
    height: var(--height);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
yop-calendar-event {
    background-color: lightsalmon;
    display: block;
    position: absolute;   
    height: var(--height);  
    border-radius: var(--radius);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    :root {
        --vertical-margin: 25px;
        --border-size: 1px;
        --height: 30px;        
        --timelineHeigth: 40px;
        }
    body, input, button {
        font-size: 30px;
    }
    .login-form {
        width: 75%;
        margin-left: 12.5%;
    }    
    resources, timeline, events {
        font-size: 25px;
    }
}

.hidden {
    display: none;
}