:root {
    --body-margin: 5px;
    --vertical-margin: 15px;
    --padding: 5px;
    --border-size: 1px;

    --resourceAreaWidth: 15%;
    --agendaAreaWidth: calc(100% - var(--resourceAreaWidth));
    --minimalWidthInMinutes: 30;
    --minimalWidth: calc(var(--minimalWidthInMinutes) * (100% - 2 * var(--padding)) / 24 / 60);
    --height: 25px;        
    --radius: 3px;
    --timelineHeigth: 25px;

    --background-body: #e3e5e8;
    --background-header: #0058a3;
    --background-form: white;
    --background-timeline: #acccff;
    --background-resource: #0058a3;
    --background-events: #d0e2ff;
    --background-event: var(--background-resource);
    --background-delete: red;
    --color-header: white;
    --color-border: black;
    --color-resource: white;
    --color-event: white;
    --color-status-green: lightgreen;
    --color-status-red: red;
    --color-status-unknown: lightgray;
    --color-add-ressource: var(--background-resource);
    --color-delete: white;
}
body {
    margin: var(--body-margin);
    background-color: var(--background-body);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.vertical-form {
    background-color: var(--background-form);
    margin-top: var(--vertical-margin);
    margin-bottom: var(--vertical-margin);
    padding: var(--padding);
    border: var(--border-size) solid var(--color-border);
}

.vertical-form label, .vertical-form input, .vertical-form button {
    display: block;
    padding: 0px;
    width: calc(100% - 2 * var(--padding));
}
.vertical-form label, .vertical-form input {
    margin-bottom: var(--vertical-margin);
}

.login-form {
    width: 50%;
    margin-left: 25%;
}

timeline, resources, events {
    display: block;
    position: relative;
}
timeline {
    background-color: var(--background-timeline);
    height: var(--timelineHeigth);
}
resources {
    background-color: var(--background-resource);
    color: var(--color-resource);
}
events {
    background-color: var(--background-events);  
}
yop-timeline-marker, yop-calendar-resource, yop-calendar-event {
    display: inline;
    position: absolute;
}
yop-calendar-resource {
    background-color: var(--background-resource);
    height: var(--height);
    width: 100%;
    cursor: pointer;
}
yop-calendar-event {
    background-color: var(--background-event);
    color: var(--color-event);
    height: var(--height);  
    border-radius: var(--radius);
    cursor: pointer;
}
yop-calendar-resource, yop-calendar-event {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
    :root {
        --vertical-margin: 25px;
        --border-size: 1px;
        --height: 30px;        
        --timelineHeigth: 40px;
        }
    body, input, button {
        font-size: 25px;
    }
    .login-form {
        width: 75%;
        margin-left: 12.5%;
    }    
    resources, timeline, events {
        font-size: 25px;
    }
}

.inline-block {
    display: inline-block;
}
.hidden {
    display: none;
}